.game_nft {
  margin: 02rem;
  background-color: var(--color-black);
}

.game_title {
  margin-top: 16px;
  letter-spacing: 0.04em;
  line-height: 7px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgb(158, 139, 139);
  font-size: 40px;
}

/* removing the bigass image here */
.app__wrapper_img img {
  margin-left: 20rem;
  width: 0px;
  height: 0px;
  border-radius: 20px;
}

.app__wrapper_info {
  margin-left: 80px;
  top: 4rem;
}

.p__opensans {
  width: 100%;
  line-height: 28px;
  font-size: 16px;
  color: rgb(183, 182, 181);
}

.nft_name {
  margin-left: 70rem;
  margin-top: 14rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: rgb(193, 187, 187);
  line-height: 117px;
  font-size: 40px;
}

.review {
  margin-top: -350px;
  font-family: "Open Sans", sans-serif;
  color: rgb(193, 187, 187);
  font-size: 0px;
}

.buy_nft {
  font-family: "Open Sans", sans-serif;
  color: rgb(248, 240, 240);
  font-size: 16px;
  margin-top: -25px;
  font-weight: 500;
  position: relative;
  top: 20rem;
}

.nft_display_container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100px;
  height: 4rem;
}
